@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Dela+Gothic+One&family=Holtwood+One+SC&family=Michroma&family=Rammetto+One&family=Syncopate&display=swap');

@font-face {
    font-family: 'tt fors';
    src: url('font/tt_fors/Regular.ttf');
}

@font-face {
    font-family: 'tt fors bold';
    src: url('font/tt_fors/Bold.ttf');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'tt fors bold';
}
html{
	scroll-behavior: smooth;

}
/* 
body{
    
} */

nav{
    z-index: 1;
}
nav .container-fluid .navbar-brand{
	color: black;
    width: 50%;
}
nav .container-fluid{
	width: 95%;
}
nav .container-fluid .navbar-brand img{
	width: 120px;
	height: 120px;
    margin-top: 0px;
}

nav .container-fluid .navbar-toggler{
	border: 3px solid white;
	border-radius: 0px;
	padding: 9px;
    background-color: transparent;
}

nav .container-fluid .navbar-toggler:hover{
    border-radius: 0px;
    padding: 9px;
    background-color: #404040;
    transition: 0.2s;
}

nav .container-fluid .navbar-toggle-icon:hover{
    background-color: #303030;
}

nav .container-fluid .offcanvas{
	width: 100%;
	height: 100%;
	background-color: #252525;
	opacity: 0.94;

}


nav .container-fluid .offcanvas-end{
    transition: 0.6s ease;
}
nav .container-fluid .offcanvas .offcanvas-header{
	width: 96.2%;
	margin-top: 6px;
}
nav .container-fluid .offcanvas .offcanvas-header img{
	width: 100px;
}
nav .container-fluid .offcanvas .offcanvas-header button{
	background-color: white;
}
nav .container-fluid .offcanvas .offcanvas-header button.btn-close{
	font-size: 23px;
	padding: 9px;
	border: 4px solid white;
	border-radius: 0px;

}

.peta{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.offcanvas-body ul li a{
	padding: 7px;
	font-size: 22px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'tt fors';
}

.offcanvas-body ul li.dropdown ul{
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 0px;
}

.offcanvas-body ul li.dropdown .dropdown-menu a{
    font-size: 20px;
    
}

.offcanvas-body ul li.dropdown .dropdown-menu a:hover{
	transition: all 0.1s ease-in-out 0.1s;
    background-color: transparent;
}
.offcanvas-body ul li a:hover{
	color : #DF8206;
}

.offcanvas-body ul li ul{
	background-color: transparent;
}



/*gambar slide*/

section .bg{
    margin-top: -153px;
    z-index: 3;
}
/* section .bg .carousel-inner{

} */
.carousel-inner button{
	width: 50px;
    z-index: 0;
}

.carousel h2{
    position: absolute;
    color: white;
    font-family: 'dela gothic one', sans-serif;
    font-size: 40px;
    margin-left: 50px;
    margin-top: -8%;
}

.carousel h2 p{
    position: absolute;
    color: white;
    font-family: 'dela gothic one', sans-serif;
    font-size: 20px;
}

section .bg .carousel-inner img{
	filter: brightness(50%);
	height: 100.79vh;
    align-items: center;
    object-fit: cover;
}
section.content{
	width: auto;
}

            /*frame card*/
                            /*

                            .frame{
                                width: 98%;
                                padding-left: 20px;
                                margin-bottom: 40px;
                            }

                            .frame img{
                                width: 100%;
                                height: 250px;
                                object-fit: cover;
                            }

                            .frame .card{
                                margin: 0;
                                display: grid;
                                grid-template-columns: repeat(3,1fr);
                                grid-column: auto;
                                column-gap: 40px;
                                width: 100%;
                                background-color: #B3ADA9;
                                border-left: 1px solid white;
                                border-bottom: 1px solid white;
                                border-right: 1px solid white;
                            }
                            #2B3946

                            .frame .card .left{
                                background-color: white;

                            }

                            .frame .card .left h3{
                                margin-top: 20px;
                                margin-left: 50px;
                                font-size: 50px;
                                font-weight: bold;
                            }
                            .frame .card .left h4{
                                font-size: 30px;
                                font-weight: 600;
                                margin-bottom: 0px;
                                margin-left: 50px;
                            }

                            .frame .card .left p{
                                text-align: justify;
                                margin: 20px;

                            }

                            .frame .card .mid{
                                border-bottom: 60px solid #2B3946;
                                margin-left: -40px;
                            }

                            .frame .card .mid i{
                                margin: 30px;
                                margin-left: 40px;
                                font-size: 50px;
                                margin-bottom: 10px;
                            }

                            .frame .card .mid h3{
                                font-size: 30px;
                                font-weight: bold;
                                margin-bottom: 20px;
                                margin-left: 40px;
                            }

                            .frame .card .mid p{
                                text-align: justify;
                                margin-left: 40px;
                                margin-bottom: 30px;
                            }

                            .frame .card .right{
                                border-bottom: 60px solid #2B3946;
                                margin-left: -40px;
                            }

                            .frame .card .right i{
                                margin: 30px;
                                margin-left: 40px;
                                font-size: 50px;
                                margin-bottom: 10px;
                            }
                            .frame .card .right h3{
                                font-size: 30px;
                                font-weight: bold;
                                margin-bottom: 20px;
                                margin-left: 40px;
                            }

                            .frame .card .right p{
                                text-align: justify;
                                margin-left: 40px;
                                margin-right: 30px;
                                margin-bottom: 30px;
                            }
                            */

section .isi1{
    display: flex;
    justify-content: center;
    margin: 40px;
}

section .isi1 p{
	width: 80%;
	font-family: 'tt fors';
	font-size: 22.5px;
	letter-spacing: 1px;
    text-align: justify;
}
section .isi p{
    margin-top: 20px;
    margin-bottom: 30px;
	margin-left: 60px;
	width: 75%;
	font-family: 'tt fors';
	font-size: 22.5px;
	letter-spacing: 0px;
    text-align: justify;
}
section .isi1 p a{
    color: #000000;
}

section .isi1 p a:hover{
    transform: scale(0.9);
    color: #DF8206;
    transition: 0.2s;
}
section .isi h1{
    padding-top: 25px;
    margin-bottom: 30px;
    margin-left: 60px;
	width: 75%;
	font-family: 'tt fors bold';
	font-size: 42px;
    font-weight: bolder;
	letter-spacing: -1px;
    text-align: justify;
    
}
section .isi p.animate__animated{
	transition: 2s ease;
}

/*gambar display*/

.img{
	display:flex;
    flex-direction: row;
	cursor: pointer;
    text-transform: uppercase;
}

.img_2 .box{
    width: 100%;
}

.img .box1{
    width: 50%;
}

.img .box2{
    width: 50%;

}

.img #text{
}

.img h2,.img_2 h2{
    position: relative;
    color: white;
    cursor: text;
    z-index: 4;
    font-size: 30px;
    margin-left: 20px;
    margin-top:-490px;
    cursor: pointer;
}

.img_2 h2{
    position: relative;
    color: white;
    cursor: text;
    z-index: 4;
    font-size: 30px;
    margin-left: 20px;
    margin-top:-650px;
    text-transform: uppercase;
    cursor: pointer;
}


.img h2.info,.img_2 h2.info{
    width: 95%;
    display: block;
    text-align: justify;
    color: white;
    cursor: text;
    z-index: 4;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-transform: none;
    font-family: "tt fors";
    cursor: pointer;
    height: 400px;
    opacity: 0;
}

.img_2 h2.info{
    width: 70%;
    text-align: justify;
    display: block;
    color: white;
    cursor: text;
    z-index: 4;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-transform: none;
    font-family: "tt fors";
    cursor: pointer;
    height: 590px;
    opacity: 0;
}

.img h2.info:hover,.img_2 h2.info:hover{
    opacity: 1;
    transition: 1s;
}

.img h2.info a,.img_2 h2.info a{
    display: block;
    color: #ffffff;
    margin-top: 20px;
    font-family: "tt fors";
    font-weight: bolder;

}

.img h2.info a:hover,.img_2 h2.info a:hover{
    color:#DF8206 ;
    transition: 0.2s;
}

.img img{
    width: 100%;
    height: 520px;
	filter: brightness(40%);
    object-fit: cover;
    z-index: 6;
}

.img_2 img{
    width: 100%;
    height: 700px;
    filter: brightness(40%);
    object-fit: cover;
    z-index: 6;
}


.section-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: auto;
    column-gap: 35px;
    width: 92%;
    margin: 15px auto;
    text-align: center;
}

.section-card img{
    width: 300px;

}

.section-card img:hover{
    cursor: pointer;
    filter: brightness(50%);
    transform: scale(1.05);
    transition: 0.3s;
}

.news{
    margin-top: 50px;
}

.news h1{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.news .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.news .content .card{
    margin: 20px;
    margin-bottom: 50px;
}

.news .content .card:hover{
    transform: scale(0.92);
    background-color: #DF8206;
    cursor: pointer;
    transition: 0.5s;
}

.news .content .card h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 20px;
}

.news .content .card p{
    letter-spacing: -0.4px;
    font-family: "tt fors";
    margin: 20px;
}


.news .content .card a{
    color: #000000;
}

.news .content .card a:hover{
    color: #ffffff;
    transition: 0.3s;
}

/*footer*/

footer{
	margin-top: 0px;
	width: 100%;
	height: 220px;
	background-color: #222222;
}

.footer{
	padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 0;
    padding-right: 30px;
	width: auto;

}
.container{
	margin-top: 20px;
}


.footer img{
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;
    width: 170px;
    height: 40px;
}

.cont-left{
        margin-left: 15px;
}

.cont-left .icon a{
	text-decoration: none;
}

.cont-left .icon i{
    margin-top: 0px;
	color: white;
	padding: 0px;
    margin-top: -15px;
}
.cont-left .icon i img{
    height: 35px;
    width: 35px;
    margin-left: 5px;
}


.cont-right{
    margin-top: -190px;
    display: inline-block;
    float: right;
    color: white;

}
.cont-right h1{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.cont-right #text{
}

.cont-right h3{
    line-height: 8px;
    letter-spacing: 0px;
    font-size: 14px;
    font-family:"tt fors";
}
.cont-right h4{
    display: block;
    text-align: center;
    font-size: 10px;
    font-family: "tt fors";
    color: white;
    margin-top: 20px;
}   

.cont-left a#mail{
    display: grid;
    margin-top: 17px;
    font-size: 11px;
    color: white;
    text-decoration: none;
    width: 200px;
    margin-left: 7px;
}

.cont-left a#mail:hover{
    font-size: 11px;
    color: #DF8206;
    transition: 0.2s;
}



@media (max-width: 1281px) {

    
}
	float: right;
}
