@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Dela+Gothic+One&family=Holtwood+One+SC&family=Michroma&family=Rammetto+One&family=Syncopate&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
html{
	scroll-behavior: smooth;

}
body{

}

/*navbar*/

nav .container-fluid .navbar-brand{
	color: black;
    width: 50%;
}
nav .container-fluid{
	width: 95%;
}
nav .container-fluid .navbar-brand img{
	width: 120px;
	height: 120px;
    margin-top: -30px;
}
nav .container-fluid .navbar-brand h2{
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
    font-size: 27px;
    font-family: 'Michroma', sans-serif;
}

nav .container-fluid .navbar-brand p{
    margin-top: 5px;
    text-transform: none;
    font-size: 20px;
}

nav .container-fluid .navbar-toggler{
	border: 3px solid black;
	border-radius: 0px;
	padding: 10px;
}

nav .container-fluid .navbar-toggler {
	color: black;
}

nav .container-fluid .offcanvas{
	width: 100%;
	height: 100%;
	background-color: #202020;
	opacity: 0.94;

}
nav .container-fluid .offcanvas .offcanvas-header{
	width: 96.2%;
	margin-top: 6px;
}
nav .container-fluid .offcanvas .offcanvas-header img{
	width: 100px;
}
nav .container-fluid .offcanvas .offcanvas-header button{
	background-color: white;
}
nav .container-fluid .offcanvas .offcanvas-header button.btn-close{
	font-size: 23px;
	padding: 15px;
	border: 4px solid black;
	border-radius: 0px;
	transition: 0.2s;
}
.offcanvas-body ul li a{
	padding: 7px;
	font-size: 22px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: Raleway;
}
.offcanvas-body ul li.dropdown{
	transition: all 0.5s ease-in-out 0.5s;
}
.offcanvas-body ul li a:hover{
	color : green;
}
.offcanvas-body ul li :active{
	color : green;
}
.offcanvas-body ul li ul{
	background-color: transparent;
}

.offcanvas-body ul li ul a:hover{
	background: none;
}


/*gambar slide*/

section .bg{
    margin-top: 0px;
}
section .bg .carousel-inner{

}
.carousel-inner button{
	width: 100px;
}

.carousel h2{
    position: absolute;
    color: white;
    font-family: 'dela gothic one', sans-serif;
    font-size: 40px;
    margin-left: 50px;
    margin-top: -8%;
}

.carousel h2 p{
    position: absolute;
    color: white;
    font-family: 'dela gothic one', sans-serif;
    font-size: 20px;
}

section .bg .carousel-inner img{
	filter: brightness(50%);
	height: 95vh;
    border-radius: 5px;
    align-items: center;
    object-fit: cover;
}
section.content{
	width: auto;
}
section .isi p{
	margin: 60px;
	width: 75%;
	font-family: 'geologica', sans-serif;
	font-size: 22px;
	letter-spacing: 3px;
}
section .isi p.animate__animated{
	transition: 2s ease;
}

/*gambar display*/

.img{
	display: inline-block;
	cursor: pointer;
}
.img img{
	width: 49.2vw;
    height: 510px;
	filter: brightness(90%)
}

.img img:hover{
	transform: scale(1.01);
	filter: brightness(90%);
	transition: 0.3s;
}

.img_a img{
	width: 99vw;
    height: 510px;
    margin-top: 4px;
	filter: brightness(90%);
    object-fit: cover;
}

.img_a img:hover{
	transform: scale(1.01);
	filter: brightness(90%);
	transition: 0.3s;
}

.section-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 35px;
    width: 92%;
    margin: 15px auto;
}

.section-card img{
    width: 300px;
}

.section-card img:hover{
    cursor: pointer;
    filter: brightness(50%);
    transform: scale(1.05);
    transition: 0.3s;
}


/*popup*/

.popup, .pop-up, .po-pup{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.97);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}

.popup__content, .pop-up__content, .po-pup__content{
    border: 5px solid white;
    padding: 30px;
    width: 85%;
    height: 470px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup__image, .pop-up__image, .po-pup__image{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.popup__image img, .pop-up__image img, .po-pup__image img{
    display: block;
    width: 30%;
}

.popup__header, .pop-up__header, .po-pup__header{
    text-align: center;
    margin-bottom: 35px;
    margin-top: -37%;
}

.popup__header h1, .pop-up__header h1, .po-pup__header h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    transform: translate(14%)
}

.popup__text, .pop-up__text, .po-pup__text{
    padding: 0 36px;
    line-height: 1,4;
    color: white;
}

.popup__text h5, .pop-up__text h5,.po-pup__text h5{
    transform: translate(45%,60%);
    width: 70%;
    
}

.popup__btn, .pop-up__btn, .po-pup__btn{
    color: white;
}

.popup__btn a, .pop-up__btn a,.po-pup__btn a{
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 1000;
    transform: translate(700%,300%);
}

.popup__btn a:hover, .pop-up__btn a:hover,.po-pup__btn a:hover{
    background-color: white;
    color: black;
    
}

.popup:target{
    visibility: visible;
    transition: 2s;
}

.pop-up:target{
    visibility: visible;
    transition: 2s;
}
 
.po-pup:target{
    visibility: visible;
    transition: 2s;
}

/*footer*/

footer{
	margin-top: 20px;
	width: 100%;
	height: auto;
	background-color: #222222;
}
.footer{
	padding: 20px;
	width: auto;
	text-align: center;
}
.container{
	margin-top: 20px;
	align-items: center;
}
.footer img{
    text-align: left;
    margin-top: -70px;
    width: 140px;
	height: 140px;
}
.footer h4{
	margin-top: 30px;
	font-size: 40px;
	display: inline-block;
	color: white;
	letter-spacing: 2px;
}
.footer h4 dd{
	font-size: 17px;
	color: white;
}
.cont-left .icon a{
	text-decoration: none;
}

.cont-left .icon i{
    margin: 30px;
    margin-top: 55px;
    border: 4px solid white;
    background-color: white;
    border-radius: 50px;
	font-size: 35px;
	color: #222222;
	padding: 10px;
}
.cont-left .icon i.fa-facebook-f{
    font-size: 38px;
    width: 65px;
}
.cont-left .icon i.fa-instagram{
	font-size: 38px;
}
.cont-left .icon i.fa-twitter{
	font-size: 35px;
}
.cont-left .icon i.fa-envelope{
	font-size: 37px;
}
.content1{
	margin-top: -120px;
	width: 50%;
	justify-content: center;
	float: right;
}
